:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

body {
  padding: 30px;
}

/* Btn */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#logo-login  {
  height: 25vh;
  margin-bottom: 15px;
}

.navbar-logo{
  height: 6vh;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
  border-radius: 7px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f24516;
  border-color: #ee3e0d;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ee3e0d;
  border-color: #e23a0d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10rem;
}

.btn-outline-primary {
  color: white;
  border-color: white;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #f4623a;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.5);
}



/* Nav items */

.nav-pic {
  width: 40px;
}

.navbar {
  background-color: #f1f3f386;
}

.scrolling-wrapper {
  display: flex;
  /* flex-wrap: nowrap; */
  overflow-x: auto;
}

.scrolling-wrapper card {
  flex: 0 0 auto;
}



.jumbotronBackground {
  background-image:
    linear-gradient(rgba(84, 104, 110, 0.4),
    rgba(84, 104, 110, 0.4)),
    url(https://source.unsplash.com/random/1200x500/?coffee,breakfast);
}

.jumbotronBackground-completed {
  color: white;
  background-image:
    linear-gradient(rgba(84, 104, 110, 0.6),
    rgba(84, 104, 110, 0.6)),
    url(/images/cereal-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

li {
  list-style: none;
}

.card {
  border-radius: 10px;
}

h2 {
  font-weight: 600;
  color: #343a40;
  font-family: 'Roboto', sans-serif;
}

/* HEART FAVORITE */

#fav-btn:before {
  content: "💔";
  color: #f00;
}

#fav-btn.favorite:before {
  content: "❤️";
}

#fav-menu-btn:before {
  content: "💔";
  color: #f00;
}

#fav-menu-btn.favorite:before {
  content: "❤️";
}

.fav-place {
  display: flex;
  justify-content: flex-end;
}

.div-content {
  width: 25%;
}

.blur {
  filter: blur(20px);
}
.main-jumbotron {
  
  border-radius: 10px !important;
  background-image:
    linear-gradient(rgba(84, 104, 110, 0.4),
    rgba(84, 104, 110, 0.4)),
    url(https://images.unsplash.com/photo-1526127230111-0197afe94d72?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1200&h=500&fit=crop&ixid=eyJhcHBfaWQiOjF9);
    
}
.main-jumbotron p {
  font-size: 20px;
  font-style: italic;
  line-height: 18px;
}

.main-jumbotron h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  
}

.hide-button {
  visibility: hidden;
}

/* CHECKBOXES */

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+#juice  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(169, 143, 122, 0.8),
  rgba(228, 115, 33, 0.8)),
  url(../images/juice.jpg);
  background-blend-mode: multiply;
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#juice  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(251, 115, 3, 1),
  rgba(243, 155, 19, 1)),
  url(../images/juice.jpg);
  background-blend-mode: multiply;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#cocoa  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/cocoa.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#cocoa  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/cocoa.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#coffee  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/coffee.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#coffee  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/coffee.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#donut  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/donut.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#donut  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/donut.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#glutenfree  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/gluten-free.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#glutenfree  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/gluten-free.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#salad  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/salad.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#salad  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/salad.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#sandwich  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/sandwich.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#sandwich  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/sandwich.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type=checkbox]+#tea  {
  /* background: #999; */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../images/tea.jpg);
  border-radius: 5px;
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
  color: white;
}

input[type=checkbox]:checked+#tea  {
  /* background: rgb(0, 128, 255); */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.685),
  rgba(5, 226, 105, 0.2)),
  url(../images/tea.jpg);
  height: 100px;
  width: 220px;
  display: inline-block;
  padding: 0 0 0 0px;
}

/* PREFERENCES */

/* #juice {
  background-image:
    url(../images/juice.jpg);
} */
/* #juice:checked {
  background-image:
    url(../images/juice.jpg);
} */

/* #cocoa {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/cocoa.jpg);
}

#coffee {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/coffee.jpg);
}

#cocoa {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/cocoa.jpg);
}

#donut {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/donut.jpg);
}

#glutenfree {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/gluten-free.jpg);
}

#salad {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/salad.jpg);
}

#sandwich {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/sandwich.jpg);
}

#tea {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/tea.jpg);
} */